<!doctype html>
<html xmlns>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TextToVoice - WebApp</title>
</head>
<body>

<div>
    <h1>Text To Voice - WebApp</h1>

    <form>
        <label>Ingrese el texto:</label>
        <textarea></textarea>
        <button type="submit">Generar Voice</button>
    </form>
</div>

</body>
</html>